@font-face {
	font-family: "Optician Sans";
	src: url(Optician-Sans.otf);
}

body{
	background-color: #A29E95;
}

.img{
	display: flex;
	justify-content: center;
	margin-left: 275px;
}

.one, .two, .three, .four, .five, .six{
	position: absolute;
}

.container{
	position: absolute;
}

/*.one{
	margin-left: 500px;
}
/**/
/*#one{
	margin-top: 100px;
}*/

.one {
	margin-top: -400px;
	margin-left: 525px;
}

.fivetwo{
	margin-left: -1000px;
}

.five{
	margin-top: -400px;
	margin-left: 870px;
	display: flex;
	flex-direction: row;
}

#five:hover{
	margin-left: -10px;
}

.two{
	margin-top: -290px;
	margin-left: 625px;
	position: absolute;
}

.four{
	margin-top: -290px;
	margin-left: 780px;
	position: absolute;
	font-kerning: none;
}

.three{
	margin-top: -245px;
	margin-left: 475px;
}

.six{
	margin-top: -245px;
	margin-left: 920px;
	display: flex;
	flex-direction: row;

}

.boxy{
	width: 30px;
	height: 30px;
	background-color: white;
	margin-top: -270px;
	margin-left: 625px;
	opacity: 1;
	transition: 0.5s;
	position: absolute;
}

.boxy:hover{
	opacity: 0;
}

#eye{
	visibility: hidden;

}

#fivetwo:hover{
	margin-left: -5px;
}

h1{
	color: white;
	font-family: "Optician Sans", sans-serif;
}

#one:hover{
	 color: transparent;
   text-shadow: 0 0 5px /*rgba(0,0,0,0.5)*/ white;
}

#three:hover{
	color: #FEFF00;
}

#four:hover{
	font-size: 100px;
	margin-top: -25px;



}

a{
	text-decoration: none;
}



.six:hover #eye{
	visibility: visible;
}






