@font-face {
	font-family: "Optician Sans";
	src: url(Optician-Sans.otf);
}

h1 {
	color: white;
	font-family: "Optician Sans", sans-serif;
}


a {
	text-decoration: none;
}
 

body{
	background-color: #A29E95;
	overflow: hidden;
}

.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	position: absolute;
}

.img{
	position: absolute;
	display: flex;
	top: 20%;
	left: 25%;
	width: 900px;
	z-index: 0;
}

.one {
	position: absolute;
	top: 34%;
	left: 27.5%;
	z-index: 10;
}

#one:hover{
	color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5) white;
}


#square {
	position: absolute;
    width: 40px;
    height: 40px;
    top: 25%; 
    left: -10px;
    background: black;
    opacity: 1;
    transition: 0.5s;
}

#square:hover {
	opacity: 0;
}


.two{
	position: absolute;
	top: 51.6%;
	left: 38.3%;
	z-index: 9;
}


.three{
	position: absolute;
	top: 59%;
	left: 21.5%;
	z-index: 8;
}

#three:hover{
	color: #FEFF00;
}

.four{
	position: absolute;
	top: 51.6%;
	left: 56.5%;
	z-index: 7;
}

#four:hover{
	font-size: 100px;
	margin-top: -25px;

}

.five{
	position: absolute;
	top: 34%;
	left: 66.2%;
	z-index: 6;
}

#five2 {
	color: white;
	font-family: "Optician Sans", sans-serif;

}
#five2:hover{
	letter-spacing: -6px;
}

.six{
	display: flex;
	position: absolute;
	top: 59%;
	left: 73.6%;
	z-index: 5;
}

#eye{
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 102%;
}


.six:hover #eye{
	visibility: visible;
}








